#signIn {
  /* text-align: center; */
  margin: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 50px;
  color: #202020;
  letter-spacing: 1em;
  overflow: auto;
}

.signIn {
  width: 100px;
  height: 30px;
  font-family: Avenir;
  font-size: 25px;
  cursor: pointer;
  letter-spacing: normal;
  color: firebrick;
  margin: auto;
}

.signIn:hover {
  color: darkgray;
}

.googLink {
  text-decoration: underline;
}

a {
  color: firebrick;
}

a:hover {
  color: darkgray;
}

.styleText {
  letter-spacing: normal;
  text-align:center;
}