#navbar {
    font-size: 14px;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    text-align: center;
}

.xyz {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: firebrick;
    cursor: pointer;
    text-decoration: underline;
}

.xyz:hover {
    color: darkgray;
}

.authStat {
    color: firebrick;
}